@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.seccionUsuario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.informacion section:not(.seccionComentarios){
    border-bottom: 1px solid black;
}

.container-Usuario{
    display: flex;
    gap: 10px;
}

.nombre{
    font-size: 4vw;
    position: relative;
    top: 8vw;
}

.calificaciones{
    font-size: 4vw;
    position: relative;
    right: 15vw;
}


.perfilIMG{
    min-width: 15vw;
    width: 15vw;
}



.container-Usuario ion-icon {
    color: #fff700;
}

.reservaBt{
    --background: #00D0FF;
    --border-radius: 40px;
    --border: none;
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    --color: #ffffff;
    --font-size: 12px;
    --text-transform: uppercase;
}



.star{
    width: 15px;
}

.informacion section h2{
    padding-bottom: 15px;
    font-weight: bold;
}

.UserComment{
    font-weight: bold;
}

.informacion section ul{
    padding-bottom: 35px;
}

.informacion li{
    list-style-type: none;
}

.container-Especialidades{
    padding-top: 20px;
}

.container-Experiencias{
    padding-top: 20px;
}

.container-Recomendaciones{
    padding-top: 20px;
}

.container-Recomendaciones ul li{
    color: transparent;
    text-shadow: 1px 1px 6px #000000;
    padding-bottom: 20px;
}

.container-Recomendaciones ul li img{
    filter: blur(3px);
}

.container-Comentarios{
    padding-top: 20px;
}



@media screen and (max-width: 404px){
    

    .nombre{
        font-size: 14px;
    }
    
    .calificaciones{
        font-size: 14px;
    }
    
    
    .perfilIMG{
        min-width: 50px;
    }
}

@media screen and (min-width: 560px){
    .container-Usuario{
        display: flex;
        gap: 15px;
    }

    .nombre{
        font-size: 24px;
        top: 40px;
    }
    
    .calificaciones{
        font-size: 24px;
        right: 90px;
    }
    
    
    .perfilIMG{
        min-width: 50px;
        width: 80px;
    }
}